@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model List<EmailRequest>

@{
	decimal pages = (decimal)Model.Count / 10;
}

@if(User.IsInRole("Admin"))
{
	<div class="flex-grow-1" id="adminBackground">
		<div id="emailRequestsContainer">
			<h3>Email requests</h3>
			<table class="table" id="tblEmailRequests">
				<thead>
					<tr>
						<th scope="col">EmailRequestId #</th>
						<th scope="col">CustomerEmail</th>
						<th scope="col">Subject</th>
						<th scope="col">Body</th>
					</tr>
				</thead>
				<tbody>
				@foreach(var email in Model)
				{
						if(email.EmailRequestId <= 10)
						{
							<tr>
								<th scope="row">@email.EmailRequestId</th>
								<td>@email.Email.CustomerEmail</td>
								<td>@email.Email.Subject</td>
								<td>@email.Email.Body</td>
							</tr>
						}
				}
				</tbody>			
			</table>
			@if(pages > 1)
			{
				<div class="d-flex">
					<nav class="ms-auto" aria-label="Page navigation example">
						<ul class="pagination">
							@for(var i = 1; i < pages+1; i++)
							{
								if (i == 1)
								{
									<li class="page-item active" id="page_@i" style="cursor:pointer;"><a class="page-link" data-page="@i">@i</a></li>
								}
								else
								{
									<li class="page-item" id="page_@i" style="cursor:pointer;"><a class="page-link" data-page="@i">@i</a></li>
								}
							}
						</ul>
					</nav>
				</div>
			}
		</div>
	</div>
}
else
{
	<div class="alert alert-danger">
		<strong>Error:</strong> You are not authorised to access this page.
	</div>
}

<script type="text/javascript">
	$(document).ready(function(){
	  $(".page-link").click(function(){
		  var page = $(this).data("page");
		  page = parseInt($.trim(page));
		$(".page-item").removeClass("active");
		$(this).parent().addClass("active");

			$("table tbody").html("");
			$.ajax({
				type: "POST",
				url: "/api/EmailRequest",
				data: "\"" + page + "\"",
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function (emailRequests) {
					var table = $("#tblEmailRequests");
					var tbody = table.find("tbody")
					tbody.find("tr:not(:first)").remove();
					$.each(emailRequests, function (i, emailRequest) {
						var appendElement = $("<tr>");
						appendElement.append($("<th scope='row'>").html(emailRequest.emailRequestId));
						appendElement.append($("<td>").html(emailRequest.email.customerEmail));
						appendElement.append($("<td>").html(emailRequest.email.subject));
						appendElement.append($("<td>").html(emailRequest.email.body));
						tbody.append(appendElement);
					});
				},
				error: function (xhr, status, error) {
						console.log(xhr)
				}
			});
		  });
		});

</script>