@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model List<EmailRequest>

@{
	decimal pages = (decimal)Model.Count / 10;
}

@if(User.IsInRole("Admin"))
{
	<h1>Hello, admin!</h1>
	<div class="flex-grow-1" id="adminBackground">
		<h3>Email requests</h3>
		<table class="table" id="tblEmailRequests">
			<thead>
				<tr>
					<th scope="col">EmailRequestId #</th>
					<th scope="col">CustomerEmail</th>
					<th scope="col">Subject</th>
					<th scope="col">Body</th>
				</tr>
			</thead>
			<tbody>
			@foreach(var email in Model)
			{
					if(email.EmailRequestId <= 10)
					{
						<tr>
							<th scope="row">@email.EmailRequestId</th>
							<td>@email.Email.CustomerEmail</td>
							<td>@email.Email.Subject</td>
							<td>@email.Email.Body</td>
							<td><i style="font-size:1.2rem; color: #403f3f" class="fa" id="edit_request@email.EmailRequestId">&#xf040;</i></td>
							<td><i style="font-size:1.2rem; color: #941e1e;" class="fa" id="delete_request@email.EmailRequestId">&#xf014;</i></td>
						</tr>
					}
			}
			</tbody>			
		</table>
		@if(pages > 1)
		{
			<div class="d-flex">
				<nav class="ms-auto" aria-label="Page navigation example">
					<ul class="pagination">
						@for(var i = 1; i < pages+1; i++)
						{
							<li class="page-item" id="page_@i" style="cursor:pointer;"><a class="page-link" data-page="@i">@i</a></li>
						}
					</ul>
				</nav>
			</div>
		}
	</div>
}
else
{
	<div class="alert alert-danger">
		<strong>Error:</strong> You are not authorised to access this page.
	</div>
}

<script type="text/javascript">
	$(document).ready(function(){
	  $(".page-link").click(function(){
		  var page = $(this).data("page");
		  page = parseInt($.trim(page));
			$("table tbody").html("");
			$.ajax({
				type: "POST",
				url: "/api/Admin",
				data: "\"" + page + "\"",
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function (emailRequests) {
					var table = $("#tblEmailRequests");
					var tbody = table.find("tbody")
					tbody.find("tr:not(:first)").remove();
					$.each(emailRequests, function (i, emailRequest) {
						console.log("Processing emailRequest:", emailRequest);
						var appendElement = $("<tr>");
						appendElement.append($("<th scope='row'>").html(emailRequest.emailRequestId));
						appendElement.append($("<td>").html(emailRequest.email.customerEmail));
						appendElement.append($("<td>").html(emailRequest.email.subject));
						appendElement.append($("<td>").html(emailRequest.email.body));
						appendElement.append($("<td>").html("<i style='font-size: 1.2rem; color: #403f3f' class='fa' id='edit_request_" + emailRequest.emailRequestId + "'>&#xf040;</i>"));
						appendElement.append($("<td>").html("<i style='font - size: 1.2rem; color: #941e1e' class='fa' id='delete_request_" + emailRequest.emailRequestId + "'>&#xf014;</i>"));
						tbody.append(appendElement);
					});
				},
				error: function (xhr, status, error) {
						console.log(xhr)
				}
			});
		  });
		});

</script>