@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model AdminViewModel

@{
	decimal pages = (decimal)Model.EmailRequests.Count / 10;
}

@if(User.IsInRole("Admin"))
{
	<div class="flex-grow-1" id="adminBackground">

		<div class="row mt-2 mb-4 border-bottom border-secondary pb-2">
			<h2 class="col-6">Database</h2>
			<div class="col-6 dropdown-center text-end">
				<button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
					Select data
				</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" id="emailRequestDropdownItem">EmailRequests</a></li>
					<li><a class="dropdown-item" id="eventDropdownItem">Events</a></li>
				</ul>
			</div>
		</div>

		<div id="emailRequestsContainer" style="display:none;">	
			<div class="row">
				<h2 class="col-12">Email requests</h2>
			</div>
			<table class="table database-table" id="tblEmailRequests">
				<thead>
					<tr>
						<th scope="col">EmailRequestId #</th>
						<th scope="col">CustomerEmail</th>
						<th scope="col">Subject</th>
						<th scope="col">Body</th>
					</tr>
				</thead>
				<tbody>
				@foreach(var email in Model.EmailRequests)
				{
						if(email.EmailRequestId <= 10)
						{
							<tr>
								<th scope="row">@email.EmailRequestId</th>
								<td>@email.Email.CustomerEmail</td>
								<td>@email.Email.Subject</td>
								<td>@email.Email.Body</td>
							</tr>
						}
				}
				</tbody>			
			</table>
			@if(pages > 1)
			{
				<div class="d-flex">
					<nav class="ms-auto" aria-label="Page navigation example">
						<ul class="pagination">
							@for(var i = 1; i < pages+1; i++)
							{
								if (i == 1)
								{
									<li class="page-item active" id="page_@i" style="cursor:pointer;"><a class="page-link" data-page="@i">@i</a></li>
								}
								else
								{
									<li class="page-item" id="page_@i" style="cursor:pointer;"><a class="page-link" data-page="@i">@i</a></li>
								}
							}
						</ul>
					</nav>
				</div>
			}
		</div>

		<div id="eventsContainer">
			<div class="row">
				<h2 class="col-6">Events</h2>
				<div class="col-6 text-end">
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEventModal">Add +</button>
				</div>
			</div>

			<div class="modal fade" id="addEventModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addEventModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					<div class="modal-content rounded-2">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="addEventModalLabel">New event</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
							<form method="post" asp-controller="Admin" asp-action="AddEvent" role="form" class="mx-auto align-items-center w-100" enctype="multipart/form-data">
								<div class="modal-body">
									<div class="form-control">
											<div asp-validation-summary="ModelOnly" class="text-danger"></div>

											<div class="form-group">
												<div class="mb-3">
													<label for="DateInputValue">Date</label>
													<input asp-for="Date" type="datetime-local" class="form-control" id="DateInputValue" value="" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")">
													<span asp-validation-for="Date" class="text-danger"></span>
												</div>
											</div>
											<div class="form-group">
												<div class="mb-3">
													<label for="TitleInputValue">Title</label>
													<input asp-for="Title" type="text" class="form-control" id="TitleInputValue">
													<span asp-validation-for="Title" class="text-danger"></span>
												</div>
											</div>
											<div class="form-group">
												<div class="mb-3">
													<label for="AddressInputValue">Address</label>
													<input asp-for="Address" type="text" class="form-control" id="AddressInputValue">
													<span asp-validation-for="Address" class="text-danger"></span>
												</div>
											</div>
											<div class="form-group">
												<div class="mb-3">
													<label for="ShortDescriptionInputValue">ShortDescription</label>
													<textarea asp-for="ShortDescription" type="text" class="form-control" id="ShortDescriptionInputValue"></textarea>
													<span asp-validation-for="ShortDescription" class="text-danger"></span>
												</div>
											</div>
											<div class="form-group">
												<div class="mb-3">
													<label for="LongDescriptionInputValue">LongDescription</label>
													<textarea asp-for="LongDescription" type="text" class="form-control" id="LongDescriptionInputValue"></textarea>
													<span asp-validation-for="LongDescription" class="text-danger"></span>
												</div>
											</div>
											<div class="form-group">
												<div class="mb-3">
													<label for="ThumbnailUrlInputValue">ThumbnailUrl</label>
													<input asp-for="ThumbnailUrl" type="url" class="form-control" id="ThumbnailUrlInputValue">
													<span asp-validation-for="ThumbnailUrl" class="text-danger"></span>
												</div>
											</div>
									</div>
								</div>
								<div class="modal-footer">
									<div class="form-group text-end">
										<input type="submit" value="Submit" class="btn btn-primary" />
									</div>
								</div>
							</form>
					</div>
				</div>
			</div>

			<table class="table database-table" id="tblEvents">
				<thead>
					<tr>
						<th scope="col">EventId</th>
						<th scope="col">Title</th>
						<th scope="col">Date</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
				@foreach(var upcomingEvent in Model.Events)
				{
					<tr>
						<th scope="row">@upcomingEvent.EventId</th>
						<td>@upcomingEvent.Title</td>
						<td>@upcomingEvent.Date</td>
						<td>DELETE_BUTTON</td>
					</tr>
				}
				</tbody>
			</table>
		</div>
	</div>
}
else
{
	<div class="alert alert-danger">
		<strong>Error:</strong> You are not authorised to access this page.
	</div>
}

<script type="text/javascript">
	$(document).ready(function(){
	  $(".page-link").click(function(){
		  var page = $(this).data("page");
		  page = parseInt($.trim(page));
		$(".page-item").removeClass("active");
		$(this).parent().addClass("active");

			$("table tbody").html("");
			$.ajax({
				type: "POST",
				url: "/api/EmailRequest",
				data: "\"" + page + "\"",
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function (emailRequests) {
					var table = $("#tblEmailRequests");
					var tbody = table.find("tbody")
					tbody.find("tr:not(:first)").remove();
					$.each(emailRequests, function (i, emailRequest) {
						var appendElement = $("<tr>");
						appendElement.append($("<th scope='row'>").html(emailRequest.emailRequestId));
						appendElement.append($("<td>").html(emailRequest.email.customerEmail));
						appendElement.append($("<td>").html(emailRequest.email.subject));
						appendElement.append($("<td>").html(emailRequest.email.body));
						tbody.append(appendElement);
					});
				},
				error: function (xhr, status, error) {
						console.log(xhr)
				}
			});
		  });

		$("#emailRequestDropdownItem").click(function () {
			$("#emailRequestsContainer").show();
			$("#eventsContainer").hide();
		});

		$("#eventDropdownItem").click(function () {
			$("#emailRequestsContainer").hide();
			$("#eventsContainer").show();
		});
	});

</script>