@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model AdminViewModel

@{
	decimal pages = (decimal)Model.EmailRequests.Count / 10;
}

@if(User.IsInRole("Admin"))
{
	<div class="flex-grow-1" id="adminBackground">
		<div class="row mt-2 mb-4 border-bottom border-secondary pb-2">
			<h2 class="col-6">Database</h2>
			<div class="dropdown-center text-end col-6">
				<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
					Select data
				</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" id="emailRequestDropdownItem">EmailRequests</a></li>
					<li><a class="dropdown-item" id="eventDropdownItem">Events</a></li>
				</ul>
			</div>
		</div>

		<div id="emailRequestsContainer">	
			<h2>Email requests</h2>
			<table class="table database-table" id="tblEmailRequests">
				<thead>
					<tr>
						<th scope="col">EmailRequestId #</th>
						<th scope="col">CustomerEmail</th>
						<th scope="col">Subject</th>
						<th scope="col">Body</th>
					</tr>
				</thead>
				<tbody>
				@foreach(var email in Model.EmailRequests)
				{
						if(email.EmailRequestId <= 10)
						{
							<tr>
								<th scope="row">@email.EmailRequestId</th>
								<td>@email.Email.CustomerEmail</td>
								<td>@email.Email.Subject</td>
								<td>@email.Email.Body</td>
							</tr>
						}
				}
				</tbody>			
			</table>
			@if(pages > 1)
			{
				<div class="d-flex">
					<nav class="ms-auto" aria-label="Page navigation example">
						<ul class="pagination">
							@for(var i = 1; i < pages+1; i++)
							{
								if (i == 1)
								{
									<li class="page-item active" id="page_@i" style="cursor:pointer;"><a class="page-link" data-page="@i">@i</a></li>
								}
								else
								{
									<li class="page-item" id="page_@i" style="cursor:pointer;"><a class="page-link" data-page="@i">@i</a></li>
								}
							}
						</ul>
					</nav>
				</div>
			}
		</div>

		<div id="eventsContainer" style="display:none;">
			<h2>Events</h2>
			<table class="table database-table" id="tblEvents">
				<thead>
					<tr>
						<th scope="col">EventId</th>
						<th scope="col">Title</th>
						<th scope="col">Date</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
				@foreach(var upcomingEvent in Model.Events)
				{
					<tr>
						<th scope="row">@upcomingEvent.EventId</th>
						<td>@upcomingEvent.Title</td>
						<td>@upcomingEvent.Date</td>
						<td>DELETE_BUTTON</td>
					</tr>
				}
				</tbody>
			</table>
		</div>
	</div>
}
else
{
	<div class="alert alert-danger">
		<strong>Error:</strong> You are not authorised to access this page.
	</div>
}

<script type="text/javascript">
	$(document).ready(function(){
	  $(".page-link").click(function(){
		  var page = $(this).data("page");
		  page = parseInt($.trim(page));
		$(".page-item").removeClass("active");
		$(this).parent().addClass("active");

			$("table tbody").html("");
			$.ajax({
				type: "POST",
				url: "/api/EmailRequest",
				data: "\"" + page + "\"",
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function (emailRequests) {
					var table = $("#tblEmailRequests");
					var tbody = table.find("tbody")
					tbody.find("tr:not(:first)").remove();
					$.each(emailRequests, function (i, emailRequest) {
						var appendElement = $("<tr>");
						appendElement.append($("<th scope='row'>").html(emailRequest.emailRequestId));
						appendElement.append($("<td>").html(emailRequest.email.customerEmail));
						appendElement.append($("<td>").html(emailRequest.email.subject));
						appendElement.append($("<td>").html(emailRequest.email.body));
						tbody.append(appendElement);
					});
				},
				error: function (xhr, status, error) {
						console.log(xhr)
				}
			});
		  });

		$("#emailRequestDropdownItem").click(function () {
			$("#emailRequestsContainer").show();
			$("#eventsContainer").hide();
		});

		$("#eventDropdownItem").click(function () {
			$("#emailRequestsContainer").hide();
			$("#eventsContainer").show();
		});
	});

</script>